.followers--page--main {
    font-family: 'Playpen Sans', sans-serif;
}

#followersPageFollowersContainer {
    margin-top: 2rem;
    
}

#followersPageFollowedByHeading {
    margin-left: 0.9rem;
}

.follower-item {
    display: flex;          
    align-items: center;   
    gap: 10px;
    margin-bottom: 1rem; 
    margin-left: 0.5rem;            
}

.follower--page--profile--link {
    text-decoration: none;
    color: black;
}