@import url("./profile-page.css");
@import url("./homepage.css");
@import url("./new-post-form.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.modal-wrapper {
  width: 500px;
  height: 240px;
}

.modal {
  box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.1);
  background: white;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  padding: 5px 15px 15px;
}

.bio--modal {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background: white;
  padding: 5px 15px 15px;

}

.bio--modal form {
  position: relative;
}

.current1 {
  position: absolute;
  bottom: 10px;
  right: 40px;
}

.maximum {
  position: absolute;
  bottom: 10px;
  right: 10px;
}



.modal--textarea {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 1px;
  resize: vertical;
  font-size: 14px;
}


.modal--textarea:focus {
  border-color: #ffc107;
}

.modal form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modal form .modal-body {
  flex-grow: 1;
}

.modal form button[type="submit"] {
  background-color: #ffa000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: -0.4rem;
  align-self: center;
  margin-bottom: 1rem;
  transition: background-color 0.3s ease;
}

.bio--modal form button[type="submit"] {
  background-color: #ffa000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: -0.5rem;
}


.bio--modal form button[type="submit"]:hover {
  background-color: #ffc107;
}

.modal form button[type="submit"]:hover {
  background-color: #ffc107;
}

@media (max-width: 750px) {
  .modal-wrapper {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal {
    background: white;
    width: 100%;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
  }
}



.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-body {
  padding-top: 10px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}



@media screen and (max-width: 500px) {

  .home--icon {
    width: 60px;
    height: 60px;
  }

  .new--post--icon {
    width: 55px;
    height: 50px;
  }

  .profile--pic--icon {
    width: 60px;
    height: 60px;
  }

}

@media screen and (max-height: 610px) {
  .home--icon {
    height: 50px;
  }

  .new--post--icon {

    height: 50px;
  }

  .profile--pic--icon {

    height: 50px;
  }
}

@media screen and (max-height: 536px) {
  .home--icon {
    height: 20px;
  }

  .new--post--icon {
    height: 20px;
  }

  .profile--pic--icon {
    height: 20px;
  }
}