.homepage--header {
  font-family: 'Playpen Sans', sans-serif;
}

.auth--button {
  position: fixed;
  top: 0;
  right: 0;
}

.main--feed--logo {
  position: fixed;
  top: 2px;
  left: 12px;
}

.sign--in--text {
  font-family: 'Playpen Sans', sans-serif;
}

#mainFeedTweetLink{
  text-decoration: none;
}

#homeFeedTweetText{
  margin-bottom: 2rem;
}

#isLoadingText{
  font-family: 'Playpen Sans', sans-serif;
}

#commentButtonsDiv {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 640px) {
  #tweetImage {
    height: 220px;
    width: 300px;
  }

}

@media screen and (max-width: 500px) {

  .main--feed--logo {
    height: 60px;
    width: 60px;
    margin-top: 0.5rem;
    ;
  }

  .homepage--header {
    font-size: 1.2rem;
  }

  #tweetImage {
    height: 200px;
    width: 160px;
  }
}

@media screen and (max-width: 350px){
  #tweetImage {
    height: 100px;
    width: 60px;
  }

}