.profile--page--main {
    display: flex;
    justify-content: center;
    align-items: center;

}

.profile-page-main-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
}

.personal--content--div {
    display: grid;
    margin-top: 1rem;
    width: 70vw;
    grid-template-areas:
        "pic heading logo"
        "email . button"
        "bio . .";

    grid-template-columns: 200px auto 200px;
    grid-template-rows: auto auto auto;



}

.user--bio-container {
    display: inline-block;
    grid-area: bio;
    position: relative;
    margin-top: 15%;
    margin-left: -60%;
    padding-right: 30%;

}

.user--email--heading {
    grid-area: email;
    font-family: 'Playpen Sans', sans-serif;
    margin-top: 10%;
    margin-left: -75%;

}

.bio--button {
    grid-area: button;
    width: 100px;
    height: 25px;
    justify-self: end;
    margin-right: -22%;
    font-size: 1rem;

}

.user--image {
    grid-area: pic;
    margin-left: -45%;

}

.profile--page--header {
    grid-area: heading;
    justify-self: center;
    font-family: 'Playpen Sans', sans-serif;
}

.user--bio {
    font-family: 'Playpen Sans', sans-serif;
    margin-right: -10%;

}

.doodle--doo--logo {
    grid-area: logo;
    justify-self: end;
    margin-right: -50%;

}


@media screen and (max-width: 500px) {

    .personal--content--div {
        grid-template-areas:
            "pic heading logo"
            "email . button"
            "bio . .";

        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        width: 80vw;
        min-height: 25vh;
    }

    .profile--page--header {
        font-size: 0.9rem;
        align-self: flex-start;
        justify-self: center;
        margin-top: 1rem;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);


    }

    .bio--button {
        font-size: 0.8rem;
        width: 70px;
        margin-top: 10%;
        margin-right: -15%;
    }

    .user--bio-container {
        margin-left: -10%;
        margin-right: 20%;
        margin-top: -1%;
        display: flex;
    }


    .user--bio {
        font-size: 0.7rem;
        margin-left: 0;
    }

    .user--email--heading {
        font-size: 0.8rem;
        margin-top: 5%;
        margin-left: -40%;
    }

    .user--image {
        width: 60px;
        height: 60px;
        margin-left: -12%;
    }

    .doodle--doo--logo {
        width: 60px;
        height: 60px;
        margin-right: -35%;
    }
}